:host {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
}

.align-right {
  text-align: right;
}

.highlight-row {
  background-color: #fffae6; /* Light yellow background */
}

