<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Release Calendar</title>
</head>
<body>

<div class="header">
	<input type="password" [(ngModel)]="apiKey" placeholder="Enter API Key"/>
	<button (click)="saveApiKey()">Save API Key</button>
</div>

<mat-form-field>
	<mat-label>Enter a date range</mat-label>
	<mat-date-range-input [formGroup]="range" [rangePicker]="picker">
		<input matStartDate formControlName="start" placeholder="Start date">
		<input matEndDate formControlName="end" placeholder="End date">
	</mat-date-range-input>
	<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-date-range-picker #picker></mat-date-range-picker>

	@if (range.controls.start.hasError('matStartDateInvalid')) {
		<mat-error>Invalid start date</mat-error>
	}
	@if (range.controls.end.hasError('matEndDateInvalid')) {
		<mat-error>Invalid end date</mat-error>
	}
</mat-form-field>

<div class="mat-elevation-z8 table-container">
	<table mat-table [dataSource]="movies" class="mat-table">

		<!-- Poster Column -->
		<ng-container matColumnDef="poster">
			<th mat-header-cell *matHeaderCellDef> Poster </th>
			<td mat-cell *matCellDef="let movie">
				<img
					*ngIf="movie.poster_path"
					[src]="'https://image.tmdb.org/t/p/w154' + movie.poster_path"
					alt="{{ movie.title }}"
					width="128"
				/>
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- Description Column -->
		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef>Description</th>
			<td mat-cell *matCellDef="let movie" >
				<p>
					<a href="https://www.themoviedb.org/movie/{{movie.id}}"> {{ movie.title }} </a>
				</p>
				<p>{{movie.release_date}} | {{this.getGenres(movie.genre_ids)}}</p>
				<p>{{this.truncate(movie.overview, 120)}}</p>
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- Header and Rows -->
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 20]"
				   showFirstLastButtons hidePageSize
				   aria-label="Select page"
				   [length]="totalMovies"
				   [pageIndex]="currentPage"
				   [pageSize]="pageSize"
				   (page)="onPageEvent($event)"
	>
	</mat-paginator>
</div>

</body>
</html>
